* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.main-header{
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
}

.main-header h1{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding-left: 10px;
}
